<div class="back-modal"></div>
<div class="ad-modal">
    <section class='col-md-12'>
        <div class='property-box wrapper-view'>
            <div class='top-view'>
                <div class='row'>
                    <div class="col-sm-12">
                        <div class='title-line'>
                            <div class='pull-left'>
                                <h2>${name}</h2> <br/>

                                <p>
                                    <span class="s12 border-ad-right">Polska</span>
                                    <span class="s12">Data wystawienia: ${date}</span>
                                </p>
                            </div>
                            <div class='pull-right price-wrapper'>
                                <span class='price'>PLN ${amount}</span>

                                <div class="rate">/${amount_type}</div>
                            </div>
                        </div>
                        <div class='description'>
                            <p>{{html description}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <table class='table table-hover table-bordered'>
                            <tr>
                                <td>Ilość materiału</td>
                                <td>${pieces}</td>
                            </tr>
                            <tr>
                                <td>Lokalizacja Towaru</td>
                                <td>${location}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class='gallery'>
                            <div class='line'>
                            {{each(i, photo) photos}}
                                <figure class="mar-left10">
                                    <img src="${photo}" alt=""/>
                                </figure>
                            {{/each}}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>