<div style="background: #000; height: 100%; left: 0; opacity: 0.8; position: fixed; top: 0; width: 100%; z-index: 9999;"></div>
<div style="position: fixed; z-index: 10000; transform: translate(-50%, -50%); top: 50%; left: 50%;">
    <section class='col-md-12'>
        <div class='property-box wrapper-view'>
            <div class='top'>
                <div class='row'>

                    <div class='title-line'>
                        <div class='pull-left'>
                            <h2>Nazwa</h2> <br/>

                            <p>
                                <span class="s12 border-ad-right">Polska</span>
                                <span class="s12">Data wystawienia: Data wystawienia</span>
                            </p>
                        </div>
                        <div class='pull-right price-wrapper'>
                            <span class='price'>PLN kwota</span>

                            <div class="rate">/całość</div>
                        </div>
                    </div>
                    <div class='description'>
                        <p>Opis</p>
                    </div>
                    <div class="col-sm-6">
                        <table class='table table-hover table-bordered'>
                            <tr>
                                <td>Ilość materiału</td>
                                <td>Ilość typ materialu</td>
                            </tr>
                            <tr>
                                <td>Lokalizacja Towaru</td>
                                <td>Lokalizacja</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class='gallery'>
                            Zdjecia
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>