.mar-left5 {margin-left: 5px;}
.mar-top15 {margin-top: 15px;}
.mar-top5 {margin-top: 5px;}
.mar-bottom15 {margin-bottom: 15px;}
.mar-bottom10 {margin-bottom: 10px;}
.mar-left25-proc {margin-left: 25%;}
.mar-10-auto {margin: 10px auto;}
.padding-20-30-0 {padding: 20px 30px 0;}

.width50 {width: 49%;}
.space-line {margin: 0 7px;}
.non-bottom-mar {margin-bottom: 0px;}

.info-message-content {
  width: 100%;
  p {
    margin: 0px;
  }
}

// Alert
.alert-success {
  p {
    color: #006400;
  }
}

// View Advert
ul.menulist li {
  text-decoration: none;
  list-style: none;
  line-height: 27px;
  a {
    color: #000;
  }
}

.submenulist a {
  padding-left: 30px;
}