.mar-left5 {margin-left: 5px;}
.mar-top15 {margin-top: 15px;}
.mar-top5 {margin-top: 5px;}
.mar-top0 {margin-top: 0px;}
.mar-bottom15 {margin-bottom: 15px;}
.mar-bottom10 {margin-bottom: 10px;}
.mar-left25-proc {margin-left: 25%;}
.mar-10-auto {margin: 10px auto;}
.padding-20-30-0 {padding: 20px 30px 0;}
.padding-0 {padding: 0px !important;}
.margin-0 {margin: 0px !important;}
.border-0 {border: 0px !important;}

.width50 {width: 49%;}
.space-line {margin: 0 7px;}
.non-bottom-mar {margin-bottom: 0px;}
.back-image-none {background-image: none;}

.font-size-10 {font-size: 11px; line-height: 18px;}

.position-absolute {position: relative;}

.dis-none {display: none;}

.info-message-content {
  width: 100%;
  p {
    margin: 0px;
  }
}

// Colors
.red-color {color: #ff0000;}

// Alert
.alert-success {
  p {
    color: #006400;
  }
}

// Settings
.seperator .form-group {
  border-bottom: 1px dashed #c4c4c4;
  padding-bottom: 10px;
}

// Add Advert
.img-remove {
  border: medium none;
  height: 17px;
  margin-bottom: 91px;
  margin-left: -20px;
  width: 17px;
  position: absolute;
  top: 4px;
  right: 22px;
  cursor: pointer;
}
#category-tree-view, #category-tree-view ul, ul#fileList {
  list-style: none;
}

#category-tree-view li {
  cursor: pointer;
}

li ul li {
  padding-left: 25px;
  background: url("../img/divider.png") no-repeat scroll 10px 4px rgba(0, 0, 0, 0);
}

span.tree {
  color: #a3a3a3;
}

span.active_category {
  color: #003647;
  font-weight: bold;
}

// View Advert
ul.menulist li {
  text-decoration: none;
  list-style: none;
  line-height: 27px;
  fon-size: 12px;
  border-bottom: 1px solid #f4f4f4;
  a {
    color: #000;
    span {
      color: #a3a3a3;
    }
  }
}

ul.submenulist {
  li {
    padding-left: 15px;
    background: url("../img/divider.png") no-repeat scroll 0px 7px rgba(0, 0, 0, 0);
    a {
      color: #a3a3a3;
    }
  }
  ul.submenulist {
    padding-left: 15px;
  }
}